#registry=https://nexus3-default.apps.cluster-pffm9.pffm9.sandbox765.opentlc.com/repository/npm-group/
#registry=https://localhost:7443/repository/npm-group/
registry=https://nexus3.default.svc.cluster.local:8443/repository/npm-group/
#cafile=./npm-registry.pem
cafile=/workspace/nexus-certs/npm-registry.pem
#strict-ssl=false