#registry=https://nexus3-default.apps.cluster-pffm9.pffm9.sandbox765.opentlc.com/repository/npm-group/
#registry=https://localhost:7443/repository/npm-group/
#strict-ssl=false
#cafile=./npm-registry.pem

registry=https://nexus3.default.svc.cluster.local:8443/repository/npm-group/
cafile=/workspace/npm-registry-certs/npm-registry.pem
